<p style="color: green"><%= notice %></p>

<h1>Campaigns</h1>



<table class="table">
  <tr>
    <th>Name</th>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td>
        <%= link_to "#{campaign.name}", campaign_path(campaign) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New campaign", new_campaign_path %>
